.container {
  display: flex;
  background-color: #2f3d5c;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.gridItem {
  flex: 0 1 calc(25% - 16px);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
  color: #000;
}
